<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true" use-expressions="true">
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/resources/**"
			access="permitAll" />
		<intercept-url pattern="/module/**"
			access="permitAll" />	

	<!-- 	<intercept-url pattern="assignrole"
			access="hasAnyRole( 'ROLE_CTM')" /> -->
	
		
		<form-login login-processing-url="/login"   
		   authentication-success-handler-ref="mySuccessHandler"
		   default-target-url="newRequest"
			authentication-failure-url="/loginPage?error" />
		<logout logout-url="/logout" invalidate-session="true" 	logout-success-url="/logoutPage" />
		
		 <session-management invalid-session-url="/loginPage?timeout=true">
			<concurrency-control max-sessions="1"  error-if-maximum-exceeded="true"  expired-url="/logout?timeout" />
		</session-management>
	</http>
	

	<authentication-manager
		alias="authenticationManager">
		<authentication-provider
			ref="ldapAuthenticationProvider" />		
	</authentication-manager>
	 <beans:bean id="mySuccessHandler"
			class="com.samodule.security.MySuccessHandler">
    </beans:bean>
	<beans:bean
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
</beans:beans>